[mysqld]
user=mysql
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock

# http://docs.openstack.org/kilo/install-guide/install/apt/content/ch_basic_environment.html#basics-database
default_storage_engine=InnoDB
innodb_file_per_table
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
character-set-server = utf8

# skip host cache with client info
skip-host-cache

# disable DNS host name lookups
skip-name-resolve

# http://galeracluster.com/documentation-webpages/configuration.html
binlog_format=ROW
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_sst_method=mysqldump
wsrep_sst_auth = wsrep_sst_user:wsrep_sst_pass
# wsrep_cluster_address set by start script

# mysql-5.6 GTID & binlog for master/slave replication
gtid_mode=ON 
log_bin=binlog
enforce-gtid-consistency=true
log_slave_updates=1
binlog-do-db=keystone

!includedir /etc/mysql/conf.d/
